@{
    ViewBag.Title = "AddFile";
    Layout = null;

}

<h2>AddFile</h2>


<form action="/home/save" method="post" enctype="multipart/form-data">

    Upload File: <input type="file" name="image" />



    <input type="submit" value="upload" />
</form>